@import "normalize.css";

@font-face {
  font-family: "Montserrat";
  src:
    url("./assets/fonts/montserrat/Montserrat-VariableFont_wght.woff2")
      format("woff2"),
    url("./assets/fonts/montserrat/Montserrat-VariableFont_wght.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src:
    url("./assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.woff2")
      format("woff2"),
    url("./assets/fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf")
      format("truetype");
  font-weight: normal;
  font-style: italic;
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

header {
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0;
  background: turquoise;
  clip-path: polygon(0 50%, 0 0, 184% 0);
  z-index: -1;
}

header > .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

header > .wrapper > .img-wrapper {
  position: relative;
}

.header-picture {
  width: min(100vw - 40px, 400px);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.6);
}

.header-name {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  font-size: 7rem;
  color: white;
  text-decoration: underline;
  text-underline-offset: 5px;
}

.header-text {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: min(100vw - 40px, 600px);
  padding: 1rem 1.5rem;
  gap: 1rem;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.5);
  background-color: white;
  /* add colour variables later */
}

.header-text > h1 {
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}

.header-text > p {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
}

.header-social-links {
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.header-social-links > a {
  text-decoration: none;
}

/* Tablet devices */

@media (min-width: 768px) and (max-width: 1023px) {
  header .wrapper {
    display: block;
  }

  .header-picture {
    margin-right: 1rem;
    width: 350px;
    float: left;
  }

  .header-name {
    font-size: 5.6rem;
  }

  .header-text {
    display: block;
    margin: auto;
    margin-top: 3.5rem;
    padding: 0.2rem 1rem;
  }

  .header-text > h1 {
    margin-bottom: 1rem;
  }

  .header-text > p {
    margin-bottom: 1rem;
  }
}

/* Mobile devices */

@media (max-width: 767px) {
  header > .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    margin: 0;
    gap: 1rem;
  }

  .header-picture {
    width: min(100vw - 60px, 300px);
  }

  .header-name {
    font-size: 5.6rem;
  }

  .header-text {
    align-items: center;
    justify-content: center;
    gap: 1.25rem;
    box-shadow: none;
    background-color: transparent;
  }

  .header-text > p {
    font-size: 1.2rem;
    text-align: center;
    line-height: 2rem;
  }
}
